/*
// COLOR PALETTE
// Beige: #f5efc0
// Light orange: #ff8476
// Sky blue: #b0e89e  
//
*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

/* BODY */
body {
    padding: 0;
    margin: 0;
}
/* BODY */

/* HEADER */


#siteHeader {
    padding: 20px;
    margin: 0;
    font-family: 'Bree Serif', serif;
    letter-spacing: 5px;
    font-size: 30px;
    color: #ff8476; 
    text-align: center;
    text-transform: uppercase;

}
.icon {
    
}
/* HEADER */

/* NAV */
nav {
    display: flex;
}

nav a {
    text-decoration: none;
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color:#b0e89e;
}

nav a:not(:last-child) {
    border-width: 0 1px 0 0;
    border-color: #ff8476;
    border-style: solid;
}
 
nav a:hover,
nav a:focus {
    background-color: #9e9e9e;
}

/* NAV */

/* PARAGRAPH */
.image-holder img {
    width: 100%;
    padding: 0;
    margin: 0;
}
/* PARAGRAPH */
/* FOOTER */
footer {
    text-align: center;
    background-color: #b0e89e;
}
/* FOOTER */